extends ../layouts/default

block main
  h1= 'Invitations'

block content
  table(style='width:100%', border='1')
    tr
      th Id
      th Assignee Name
      th State
      th Actions
    - if (invitations.length)
      each invitation, index in invitations
        tr
          td= invitation._id
          td= invitation.creator.name
          td= invitation.state
          td 
            span 
              button(type='button' class='btn btn-info action-btn' data-id=`${invitation._id}` value='approved') Accept
              button(type='button' class='btn btn-danger action-btn' data-id=`${invitation._id}` value='rejected') Reject

      //- div(class=`py-4 ${index && 'border-top'}`)
      //-   //article.article
      //-   h3
      //-       a(href='/articles/'+invitation._id, title=invitation.start)
      //-   p= 'AS'

      //-       - if (invitation.user)
      //-       | &nbsp; - &nbsp;
      //-       span Author &nbsp;

      //-       - var name = invitation.creator.name 

      //-       a(href="/users/"+invitation.user._id)= name

